.logoBar {
  width: 100%;
  background-color: var(--grey, #f2f2f2);
}

.logoBarWrapper {
  box-sizing: border-box;
  max-width: 1062px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 24px;
  margin: 0 auto;
}

.logoBarText {
  color: #000;
  font-family: "Barlow";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

@media screen and (max-width: 1024px) {
  .logoBarWrapper {
    flex-direction: column;
    gap: 12px;
  }
}
