.heroBanner {
  width: 100%;
  background-color: var(--green-jussi, #03ffa5);
}

.heroBannerWrapper {
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  padding: 40px 84px 40px 20px;
  margin: 0 auto;
}

.heroBannerInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heroBannerTitle {
  max-width: 451px;
  color: var(--black, #000);
  font-family: "Barlow";
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.heroBannerSubtitle {
  max-width: 392px;
  color: #000;
  font-family: "Barlow";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 32px;
}

.heroBannerLink {
  max-width: fit-content;
  border: 1px solid var(--black, #000);
  border-radius: 6px;
  padding: 12px 24px;
  color: var(--black, #000);
  font-family: "Barlow";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}

.heroBannerCards {
  position: relative;
  width: 461px;
  height: 480px;
}

.heroBannerCard {
  width: 209px;
  height: 271px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid var(--grey, #f2f2f2);
  background: #fff;
  box-shadow: 0px 32px 32px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.heroBannerCardRefrigerator {
  position: absolute;
  left: 0;
  top: 32%;
  /* transform: translateY(-32%); */
  padding: 13px 13px 16px;
  z-index: 2;
  animation: myAnimLeft 2s ease 0s 1 normal forwards;
}

.heroBannerCardRefrigerator img {
  height: 190px;
}

.heroBannerCardStandMixer {
  position: absolute;
  top: 0;
  left: 27%;
  /* transform: translateX(-50%); */
  z-index: 3;
  gap: 34px;
  padding: 39px 20px 16px;
  animation: myAnimTop 2s ease 0s 1 normal forwards;
}

.heroBannerCardLiquorBottle {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  gap: 24px;
  padding: 17px 14px 16px;
  animation: myAnimRight 2s ease 0s 1 normal forwards;
}

.heroBannerCardLink {
  max-width: fit-content;
  border-radius: 24px;
  border: 1px solid var(--pink-jussi, #ee0e7d);
  padding: 11px 24px;
  color: var(--pink-jussi, #ee0e7d);
  font-family: "Barlow";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}


@keyframes myAnimLeft {
	0% {
		opacity: 0;
		transform: translateX(-75px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes myAnimTop {
	0% {
		opacity: 0;
		transform: translateY(-75px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes myAnimRight {
	0% {
		opacity: 0;
		transform: translateX(75px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}